.pi { display: inline-block;height: 38px;width: 60px; }
.pi.pi-xs { height: 38px; width: 60px; }
.pi.pi-sm { height: 75px; width: 120px; }
.pi.pi-md { height: 240px; width: 150px; }
.pi.pi-lg { height: 480px; width: 300px; }
.pi.pi-xs.pi-2checkout, .pi.pi-2checkout { background: url('../png/xs/2checkout.png') no-repeat right; }
.pi.pi-xs.pi-2co, .pi.pi-2co { background: url('../png/xs/2co.png') no-repeat right; }
.pi.pi-xs.pi-advcash, .pi.pi-advcash { background: url('../png/xs/advcash.png') no-repeat right; }
.pi.pi-xs.pi-alipay, .pi.pi-alipay { background: url('../png/xs/alipay.png') no-repeat right; }
.pi.pi-xs.pi-amazon, .pi.pi-amazon { background: url('../png/xs/amazon.png') no-repeat right; }
.pi.pi-xs.pi-americanexpress, .pi.pi-americanexpress { background: url('../png/xs/americanexpress.png') no-repeat right; }
.pi.pi-xs.pi-assist, .pi.pi-assist { background: url('../png/xs/assist.png') no-repeat right; }
.pi.pi-xs.pi-authorizenet, .pi.pi-authorizenet { background: url('../png/xs/authorizenet.png') no-repeat right; }
.pi.pi-xs.pi-bancontact, .pi.pi-bancontact { background: url('../png/xs/bancontact.png') no-repeat right; }
.pi.pi-xs.pi-bcc, .pi.pi-bcc { background: url('../png/xs/bcc.png') no-repeat right; }
.pi.pi-xs.pi-bitcoin, .pi.pi-bitcoin { background: url('../png/xs/bitcoin.png') no-repeat right; }
.pi.pi-xs.pi-bitcoincash, .pi.pi-bitcoincash { background: url('../png/xs/bitcoincash.png') no-repeat right; }
.pi.pi-xs.pi-bitpay, .pi.pi-bitpay { background: url('../png/xs/bitpay.png') no-repeat right; }
.pi.pi-xs.pi-boleto, .pi.pi-boleto { background: url('../png/xs/boleto.png') no-repeat right; }
.pi.pi-xs.pi-braintree, .pi.pi-braintree { background: url('../png/xs/braintree.png') no-repeat right; }
.pi.pi-xs.pi-cartebleue, .pi.pi-cartebleue { background: url('../png/xs/cartebleue.png') no-repeat right; }
.pi.pi-xs.pi-cirrus, .pi.pi-cirrus { background: url('../png/xs/cirrus.png') no-repeat right; }
.pi.pi-xs.pi-citibank, .pi.pi-citibank { background: url('../png/xs/citibank.png') no-repeat right; }
.pi.pi-xs.pi-clickandbuy, .pi.pi-clickandbuy { background: url('../png/xs/clickandbuy.png') no-repeat right; }
.pi.pi-xs.pi-coingate, .pi.pi-coingate { background: url('../png/xs/coingate.png') no-repeat right; }
.pi.pi-xs.pi-dash, .pi.pi-dash { background: url('../png/xs/dash.png') no-repeat right; }
.pi.pi-xs.pi-delta, .pi.pi-delta { background: url('../png/xs/delta.png') no-repeat right; }
.pi.pi-xs.pi-dineromail, .pi.pi-dineromail { background: url('../png/xs/dineromail.png') no-repeat right; }
.pi.pi-xs.pi-dinersclub, .pi.pi-dinersclub { background: url('../png/xs/dinersclub.png') no-repeat right; }
.pi.pi-xs.pi-directdebit, .pi.pi-directdebit { background: url('../png/xs/directdebit.png') no-repeat right; }
.pi.pi-xs.pi-discover, .pi.pi-discover { background: url('../png/xs/discover.png') no-repeat right; }
.pi.pi-xs.pi-dotpay, .pi.pi-dotpay { background: url('../png/xs/dotpay.png') no-repeat right; }
.pi.pi-xs.pi-ebay, .pi.pi-ebay { background: url('../png/xs/ebay.png') no-repeat right; }
.pi.pi-xs.pi-eco, .pi.pi-eco { background: url('../png/xs/eco.png') no-repeat right; }
.pi.pi-xs.pi-ecoin, .pi.pi-ecoin { background: url('../png/xs/ecoin.png') no-repeat right; }
.pi.pi-xs.pi-epay, .pi.pi-epay { background: url('../png/xs/epay.png') no-repeat right; }
.pi.pi-xs.pi-epayments, .pi.pi-epayments { background: url('../png/xs/epayments.png') no-repeat right; }
.pi.pi-xs.pi-epayservice, .pi.pi-epayservice { background: url('../png/xs/epayservice.png') no-repeat right; }
.pi.pi-xs.pi-eps, .pi.pi-eps { background: url('../png/xs/eps.png') no-repeat right; }
.pi.pi-xs.pi-ethereum, .pi.pi-ethereum { background: url('../png/xs/ethereum.png') no-repeat right; }
.pi.pi-xs.pi-eway, .pi.pi-eway { background: url('../png/xs/eway.png') no-repeat right; }
.pi.pi-xs.pi-freekassa, .pi.pi-freekassa { background: url('../png/xs/freekassa.png') no-repeat right; }
.pi.pi-xs.pi-giropay, .pi.pi-giropay { background: url('../png/xs/giropay.png') no-repeat right; }
.pi.pi-xs.pi-hsbc, .pi.pi-hsbc { background: url('../png/xs/hsbc.png') no-repeat right; }
.pi.pi-xs.pi-ideal, .pi.pi-ideal { background: url('../png/xs/ideal.png') no-repeat right; }
.pi.pi-xs.pi-ikajo, .pi.pi-ikajo { background: url('../png/xs/ikajo.png') no-repeat right; }
.pi.pi-xs.pi-interkassa, .pi.pi-interkassa { background: url('../png/xs/interkassa.png') no-repeat right; }
.pi.pi-xs.pi-jcb, .pi.pi-jcb { background: url('../png/xs/jcb.png') no-repeat right; }
.pi.pi-xs.pi-liqpay, .pi.pi-liqpay { background: url('../png/xs/liqpay.png') no-repeat right; }
.pi.pi-xs.pi-litecoin, .pi.pi-litecoin { background: url('../png/xs/litecoin.png') no-repeat right; }
.pi.pi-xs.pi-maestro, .pi.pi-maestro { background: url('../png/xs/maestro.png') no-repeat right; }
.pi.pi-xs.pi-maestro2, .pi.pi-maestro2 { background: url('../png/xs/maestro2.png') no-repeat right; }
.pi.pi-xs.pi-mastercard, .pi.pi-mastercard { background: url('../png/xs/mastercard.png') no-repeat right; }
.pi.pi-xs.pi-mir, .pi.pi-mir { background: url('../png/xs/mir.png') no-repeat right; }
.pi.pi-xs.pi-monero, .pi.pi-monero { background: url('../png/xs/monero.png') no-repeat right; }
.pi.pi-xs.pi-okpay, .pi.pi-okpay { background: url('../png/xs/okpay.png') no-repeat right; }
.pi.pi-xs.pi-paxum, .pi.pi-paxum { background: url('../png/xs/paxum.png') no-repeat right; }
.pi.pi-xs.pi-payoneer, .pi.pi-payoneer { background: url('../png/xs/payoneer.png') no-repeat right; }
.pi.pi-xs.pi-paypal, .pi.pi-paypal { background: url('../png/xs/paypal.png') no-repeat right; }
.pi.pi-xs.pi-paypoint, .pi.pi-paypoint { background: url('../png/xs/paypoint.png') no-repeat right; }
.pi.pi-xs.pi-paysera, .pi.pi-paysera { background: url('../png/xs/paysera.png') no-repeat right; }
.pi.pi-xs.pi-payu, .pi.pi-payu { background: url('../png/xs/payu.png') no-repeat right; }
.pi.pi-xs.pi-payza, .pi.pi-payza { background: url('../png/xs/payza.png') no-repeat right; }
.pi.pi-xs.pi-picknpay, .pi.pi-picknpay { background: url('../png/xs/picknpay.png') no-repeat right; }
.pi.pi-xs.pi-postepay, .pi.pi-postepay { background: url('../png/xs/postepay.png') no-repeat right; }
.pi.pi-xs.pi-przelewy24, .pi.pi-przelewy24 { background: url('../png/xs/przelewy24.png') no-repeat right; }
.pi.pi-xs.pi-qiwi, .pi.pi-qiwi { background: url('../png/xs/qiwi.png') no-repeat right; }
.pi.pi-xs.pi-robokassa, .pi.pi-robokassa { background: url('../png/xs/robokassa.png') no-repeat right; }
.pi.pi-xs.pi-sage, .pi.pi-sage { background: url('../png/xs/sage.png') no-repeat right; }
.pi.pi-xs.pi-skrill, .pi.pi-skrill { background: url('../png/xs/skrill.png') no-repeat right; }
.pi.pi-xs.pi-stripe, .pi.pi-stripe { background: url('../png/xs/stripe.png') no-repeat right; }
.pi.pi-xs.pi-switch1, .pi.pi-switch1 { background: url('../png/xs/switch1.png') no-repeat right; }
.pi.pi-xs.pi-switch2, .pi.pi-switch2 { background: url('../png/xs/switch2.png') no-repeat right; }
.pi.pi-xs.pi-todocash, .pi.pi-todocash { background: url('../png/xs/todocash.png') no-repeat right; }
.pi.pi-xs.pi-twoco, .pi.pi-twoco { background: url('../png/xs/twoco.png') no-repeat right; }
.pi.pi-xs.pi-ukash, .pi.pi-ukash { background: url('../png/xs/ukash.png') no-repeat right; }
.pi.pi-xs.pi-unionpay, .pi.pi-unionpay { background: url('../png/xs/unionpay.png') no-repeat right; }
.pi.pi-xs.pi-verifiedbyvisa, .pi.pi-verifiedbyvisa { background: url('../png/xs/verifiedbyvisa.png') no-repeat right; }
.pi.pi-xs.pi-visa, .pi.pi-visa { background: url('../png/xs/visa.png') no-repeat right; }
.pi.pi-xs.pi-visaelectron, .pi.pi-visaelectron { background: url('../png/xs/visaelectron.png') no-repeat right; }
.pi.pi-xs.pi-webmoney, .pi.pi-webmoney { background: url('../png/xs/webmoney.png') no-repeat right; }
.pi.pi-xs.pi-westernunion, .pi.pi-westernunion { background: url('../png/xs/westernunion.png') no-repeat right; }
.pi.pi-xs.pi-wirecard, .pi.pi-wirecard { background: url('../png/xs/wirecard.png') no-repeat right; }
.pi.pi-xs.pi-worldpay, .pi.pi-worldpay { background: url('../png/xs/worldpay.png') no-repeat right; }
.pi.pi-xs.pi-yandex, .pi.pi-yandex { background: url('../png/xs/yandex.png') no-repeat right; }
.pi.pi-xs.pi-yandexkassa, .pi.pi-yandexkassa { background: url('../png/xs/yandexkassa.png') no-repeat right; }
.pi.pi-xs.pi-yandexmoney, .pi.pi-yandexmoney { background: url('../png/xs/yandexmoney.png') no-repeat right; }
.pi.pi-xs.pi-yoomoney, .pi.pi-yoomoney { background: url('../png/xs/yoomoney.png') no-repeat right; }
.pi.pi-xs.pi-zcash, .pi.pi-zcash { background: url('../png/xs/zcash.png') no-repeat right; }

.pi.pi-sm.pi-2checkout { background: url('../png/sm/2checkout.png') no-repeat right; }
.pi.pi-sm.pi-2co { background: url('../png/sm/2co.png') no-repeat right; }
.pi.pi-sm.pi-advcash { background: url('../png/sm/advcash.png') no-repeat right; }
.pi.pi-sm.pi-alipay { background: url('../png/sm/alipay.png') no-repeat right; }
.pi.pi-sm.pi-amazon { background: url('../png/sm/amazon.png') no-repeat right; }
.pi.pi-sm.pi-americanexpress { background: url('../png/sm/americanexpress.png') no-repeat right; }
.pi.pi-sm.pi-assist { background: url('../png/sm/assist.png') no-repeat right; }
.pi.pi-sm.pi-authorizenet { background: url('../png/sm/authorizenet.png') no-repeat right; }
.pi.pi-sm.pi-bancontact { background: url('../png/sm/bancontact.png') no-repeat right; }
.pi.pi-sm.pi-bcc { background: url('../png/sm/bcc.png') no-repeat right; }
.pi.pi-sm.pi-bitcoin { background: url('../png/sm/bitcoin.png') no-repeat right; }
.pi.pi-sm.pi-bitcoincash { background: url('../png/sm/bitcoincash.png') no-repeat right; }
.pi.pi-sm.pi-bitpay { background: url('../png/sm/bitpay.png') no-repeat right; }
.pi.pi-sm.pi-boleto { background: url('../png/sm/boleto.png') no-repeat right; }
.pi.pi-sm.pi-braintree { background: url('../png/sm/braintree.png') no-repeat right; }
.pi.pi-sm.pi-cartebleue { background: url('../png/sm/cartebleue.png') no-repeat right; }
.pi.pi-sm.pi-cirrus { background: url('../png/sm/cirrus.png') no-repeat right; }
.pi.pi-sm.pi-citibank { background: url('../png/sm/citibank.png') no-repeat right; }
.pi.pi-sm.pi-clickandbuy { background: url('../png/sm/clickandbuy.png') no-repeat right; }
.pi.pi-sm.pi-coingate { background: url('../png/sm/coingate.png') no-repeat right; }
.pi.pi-sm.pi-dash { background: url('../png/sm/dash.png') no-repeat right; }
.pi.pi-sm.pi-delta { background: url('../png/sm/delta.png') no-repeat right; }
.pi.pi-sm.pi-dineromail { background: url('../png/sm/dineromail.png') no-repeat right; }
.pi.pi-sm.pi-dinersclub { background: url('../png/sm/dinersclub.png') no-repeat right; }
.pi.pi-sm.pi-directdebit { background: url('../png/sm/directdebit.png') no-repeat right; }
.pi.pi-sm.pi-discover { background: url('../png/sm/discover.png') no-repeat right; }
.pi.pi-sm.pi-dotpay { background: url('../png/sm/dotpay.png') no-repeat right; }
.pi.pi-sm.pi-ebay { background: url('../png/sm/ebay.png') no-repeat right; }
.pi.pi-sm.pi-eco { background: url('../png/sm/eco.png') no-repeat right; }
.pi.pi-sm.pi-ecoin { background: url('../png/sm/ecoin.png') no-repeat right; }
.pi.pi-sm.pi-epay { background: url('../png/sm/epay.png') no-repeat right; }
.pi.pi-sm.pi-epayments { background: url('../png/sm/epayments.png') no-repeat right; }
.pi.pi-sm.pi-epayservice { background: url('../png/sm/epayservice.png') no-repeat right; }
.pi.pi-sm.pi-eps { background: url('../png/sm/eps.png') no-repeat right; }
.pi.pi-sm.pi-ethereum { background: url('../png/sm/ethereum.png') no-repeat right; }
.pi.pi-sm.pi-eway { background: url('../png/sm/eway.png') no-repeat right; }
.pi.pi-sm.pi-freekassa { background: url('../png/sm/freekassa.png') no-repeat right; }
.pi.pi-sm.pi-giropay { background: url('../png/sm/giropay.png') no-repeat right; }
.pi.pi-sm.pi-hsbc { background: url('../png/sm/hsbc.png') no-repeat right; }
.pi.pi-sm.pi-ideal { background: url('../png/sm/ideal.png') no-repeat right; }
.pi.pi-sm.pi-ikajo { background: url('../png/sm/ikajo.png') no-repeat right; }
.pi.pi-sm.pi-interkassa { background: url('../png/sm/interkassa.png') no-repeat right; }
.pi.pi-sm.pi-jcb { background: url('../png/sm/jcb.png') no-repeat right; }
.pi.pi-sm.pi-liqpay { background: url('../png/sm/liqpay.png') no-repeat right; }
.pi.pi-sm.pi-litecoin { background: url('../png/sm/litecoin.png') no-repeat right; }
.pi.pi-sm.pi-maestro { background: url('../png/sm/maestro.png') no-repeat right; }
.pi.pi-sm.pi-maestro2 { background: url('../png/sm/maestro2.png') no-repeat right; }
.pi.pi-sm.pi-mastercard { background: url('../png/sm/mastercard.png') no-repeat right; }
.pi.pi-sm.pi-mir { background: url('../png/sm/mir.png') no-repeat right; }
.pi.pi-sm.pi-monero { background: url('../png/sm/monero.png') no-repeat right; }
.pi.pi-sm.pi-okpay { background: url('../png/sm/okpay.png') no-repeat right; }
.pi.pi-sm.pi-paxum { background: url('../png/sm/paxum.png') no-repeat right; }
.pi.pi-sm.pi-payoneer { background: url('../png/sm/payoneer.png') no-repeat right; }
.pi.pi-sm.pi-paypal { background: url('../png/sm/paypal.png') no-repeat right; }
.pi.pi-sm.pi-paypoint { background: url('../png/sm/paypoint.png') no-repeat right; }
.pi.pi-sm.pi-paysera { background: url('../png/sm/paysera.png') no-repeat right; }
.pi.pi-sm.pi-payu { background: url('../png/sm/payu.png') no-repeat right; }
.pi.pi-sm.pi-payza { background: url('../png/sm/payza.png') no-repeat right; }
.pi.pi-sm.pi-picknpay { background: url('../png/sm/picknpay.png') no-repeat right; }
.pi.pi-sm.pi-postepay { background: url('../png/sm/postepay.png') no-repeat right; }
.pi.pi-sm.pi-przelewy24 { background: url('../png/sm/przelewy24.png') no-repeat right; }
.pi.pi-sm.pi-qiwi { background: url('../png/sm/qiwi.png') no-repeat right; }
.pi.pi-sm.pi-robokassa { background: url('../png/sm/robokassa.png') no-repeat right; }
.pi.pi-sm.pi-sage { background: url('../png/sm/sage.png') no-repeat right; }
.pi.pi-sm.pi-skrill { background: url('../png/sm/skrill.png') no-repeat right; }
.pi.pi-sm.pi-stripe { background: url('../png/sm/stripe.png') no-repeat right; }
.pi.pi-sm.pi-switch1 { background: url('../png/sm/switch1.png') no-repeat right; }
.pi.pi-sm.pi-switch2 { background: url('../png/sm/switch2.png') no-repeat right; }
.pi.pi-sm.pi-todocash { background: url('../png/sm/todocash.png') no-repeat right; }
.pi.pi-sm.pi-twoco { background: url('../png/sm/twoco.png') no-repeat right; }
.pi.pi-sm.pi-ukash { background: url('../png/sm/ukash.png') no-repeat right; }
.pi.pi-sm.pi-unionpay { background: url('../png/sm/unionpay.png') no-repeat right; }
.pi.pi-sm.pi-verifiedbyvisa { background: url('../png/sm/verifiedbyvisa.png') no-repeat right; }
.pi.pi-sm.pi-visa { background: url('../png/sm/visa.png') no-repeat right; }
.pi.pi-sm.pi-visaelectron { background: url('../png/sm/visaelectron.png') no-repeat right; }
.pi.pi-sm.pi-webmoney { background: url('../png/sm/webmoney.png') no-repeat right; }
.pi.pi-sm.pi-westernunion { background: url('../png/sm/westernunion.png') no-repeat right; }
.pi.pi-sm.pi-wirecard { background: url('../png/sm/wirecard.png') no-repeat right; }
.pi.pi-sm.pi-worldpay { background: url('../png/sm/worldpay.png') no-repeat right; }
.pi.pi-sm.pi-yandex { background: url('../png/sm/yandex.png') no-repeat right; }
.pi.pi-sm.pi-yandexkassa { background: url('../png/sm/yandexkassa.png') no-repeat right; }
.pi.pi-sm.pi-yandexmoney { background: url('../png/sm/yandexmoney.png') no-repeat right; }
.pi.pi-sm.pi-yoomoney { background: url('../png/sm/yoomoney.png') no-repeat right; }
.pi.pi-sm.pi-zcash { background: url('../png/sm/zcash.png') no-repeat right; }

.pi.pi-md.pi-2checkout { background: url('../png/md/2checkout.png') no-repeat right; }
.pi.pi-md.pi-2co { background: url('../png/md/2co.png') no-repeat right; }
.pi.pi-md.pi-advcash { background: url('../png/md/advcash.png') no-repeat right; }
.pi.pi-md.pi-alipay { background: url('../png/md/alipay.png') no-repeat right; }
.pi.pi-md.pi-amazon { background: url('../png/md/amazon.png') no-repeat right; }
.pi.pi-md.pi-americanexpress { background: url('../png/md/americanexpress.png') no-repeat right; }
.pi.pi-md.pi-assist { background: url('../png/md/assist.png') no-repeat right; }
.pi.pi-md.pi-authorizenet { background: url('../png/md/authorizenet.png') no-repeat right; }
.pi.pi-md.pi-bancontact { background: url('../png/md/bancontact.png') no-repeat right; }
.pi.pi-md.pi-bcc { background: url('../png/md/bcc.png') no-repeat right; }
.pi.pi-md.pi-bitcoin { background: url('../png/md/bitcoin.png') no-repeat right; }
.pi.pi-md.pi-bitcoincash { background: url('../png/md/bitcoincash.png') no-repeat right; }
.pi.pi-md.pi-bitpay { background: url('../png/md/bitpay.png') no-repeat right; }
.pi.pi-md.pi-boleto { background: url('../png/md/boleto.png') no-repeat right; }
.pi.pi-md.pi-braintree { background: url('../png/md/braintree.png') no-repeat right; }
.pi.pi-md.pi-cartebleue { background: url('../png/md/cartebleue.png') no-repeat right; }
.pi.pi-md.pi-cirrus { background: url('../png/md/cirrus.png') no-repeat right; }
.pi.pi-md.pi-citibank { background: url('../png/md/citibank.png') no-repeat right; }
.pi.pi-md.pi-clickandbuy { background: url('../png/md/clickandbuy.png') no-repeat right; }
.pi.pi-md.pi-coingate { background: url('../png/md/coingate.png') no-repeat right; }
.pi.pi-md.pi-dash { background: url('../png/md/dash.png') no-repeat right; }
.pi.pi-md.pi-delta { background: url('../png/md/delta.png') no-repeat right; }
.pi.pi-md.pi-dineromail { background: url('../png/md/dineromail.png') no-repeat right; }
.pi.pi-md.pi-dinersclub { background: url('../png/md/dinersclub.png') no-repeat right; }
.pi.pi-md.pi-directdebit { background: url('../png/md/directdebit.png') no-repeat right; }
.pi.pi-md.pi-discover { background: url('../png/md/discover.png') no-repeat right; }
.pi.pi-md.pi-dotpay { background: url('../png/md/dotpay.png') no-repeat right; }
.pi.pi-md.pi-ebay { background: url('../png/md/ebay.png') no-repeat right; }
.pi.pi-md.pi-eco { background: url('../png/md/eco.png') no-repeat right; }
.pi.pi-md.pi-ecoin { background: url('../png/md/ecoin.png') no-repeat right; }
.pi.pi-md.pi-epay { background: url('../png/md/epay.png') no-repeat right; }
.pi.pi-md.pi-epayments { background: url('../png/md/epayments.png') no-repeat right; }
.pi.pi-md.pi-epayservice { background: url('../png/md/epayservice.png') no-repeat right; }
.pi.pi-md.pi-eps { background: url('../png/md/eps.png') no-repeat right; }
.pi.pi-md.pi-ethereum { background: url('../png/md/ethereum.png') no-repeat right; }
.pi.pi-md.pi-eway { background: url('../png/md/eway.png') no-repeat right; }
.pi.pi-md.pi-freekassa { background: url('../png/md/freekassa.png') no-repeat right; }
.pi.pi-md.pi-giropay { background: url('../png/md/giropay.png') no-repeat right; }
.pi.pi-md.pi-hsbc { background: url('../png/md/hsbc.png') no-repeat right; }
.pi.pi-md.pi-ideal { background: url('../png/md/ideal.png') no-repeat right; }
.pi.pi-md.pi-ikajo { background: url('../png/md/ikajo.png') no-repeat right; }
.pi.pi-md.pi-interkassa { background: url('../png/md/interkassa.png') no-repeat right; }
.pi.pi-md.pi-jcb { background: url('../png/md/jcb.png') no-repeat right; }
.pi.pi-md.pi-liqpay { background: url('../png/md/liqpay.png') no-repeat right; }
.pi.pi-md.pi-litecoin { background: url('../png/md/litecoin.png') no-repeat right; }
.pi.pi-md.pi-maestro { background: url('../png/md/maestro.png') no-repeat right; }
.pi.pi-md.pi-maestro2 { background: url('../png/md/maestro2.png') no-repeat right; }
.pi.pi-md.pi-mastercard { background: url('../png/md/mastercard.png') no-repeat right; }
.pi.pi-md.pi-mir { background: url('../png/md/mir.png') no-repeat right; }
.pi.pi-md.pi-monero { background: url('../png/md/monero.png') no-repeat right; }
.pi.pi-md.pi-okpay { background: url('../png/md/okpay.png') no-repeat right; }
.pi.pi-md.pi-paxum { background: url('../png/md/paxum.png') no-repeat right; }
.pi.pi-md.pi-payoneer { background: url('../png/md/payoneer.png') no-repeat right; }
.pi.pi-md.pi-paypal { background: url('../png/md/paypal.png') no-repeat right; }
.pi.pi-md.pi-paypoint { background: url('../png/md/paypoint.png') no-repeat right; }
.pi.pi-md.pi-paysera { background: url('../png/md/paysera.png') no-repeat right; }
.pi.pi-md.pi-payu { background: url('../png/md/payu.png') no-repeat right; }
.pi.pi-md.pi-payza { background: url('../png/md/payza.png') no-repeat right; }
.pi.pi-md.pi-picknpay { background: url('../png/md/picknpay.png') no-repeat right; }
.pi.pi-md.pi-postepay { background: url('../png/md/postepay.png') no-repeat right; }
.pi.pi-md.pi-przelewy24 { background: url('../png/md/przelewy24.png') no-repeat right; }
.pi.pi-md.pi-qiwi { background: url('../png/md/qiwi.png') no-repeat right; }
.pi.pi-md.pi-robokassa { background: url('../png/md/robokassa.png') no-repeat right; }
.pi.pi-md.pi-sage { background: url('../png/md/sage.png') no-repeat right; }
.pi.pi-md.pi-skrill { background: url('../png/md/skrill.png') no-repeat right; }
.pi.pi-md.pi-stripe { background: url('../png/md/stripe.png') no-repeat right; }
.pi.pi-md.pi-switch1 { background: url('../png/md/switch1.png') no-repeat right; }
.pi.pi-md.pi-switch2 { background: url('../png/md/switch2.png') no-repeat right; }
.pi.pi-md.pi-todocash { background: url('../png/md/todocash.png') no-repeat right; }
.pi.pi-md.pi-twoco { background: url('../png/md/twoco.png') no-repeat right; }
.pi.pi-md.pi-ukash { background: url('../png/md/ukash.png') no-repeat right; }
.pi.pi-md.pi-unionpay { background: url('../png/md/unionpay.png') no-repeat right; }
.pi.pi-md.pi-verifiedbyvisa { background: url('../png/md/verifiedbyvisa.png') no-repeat right; }
.pi.pi-md.pi-visa { background: url('../png/md/visa.png') no-repeat right; }
.pi.pi-md.pi-visaelectron { background: url('../png/md/visaelectron.png') no-repeat right; }
.pi.pi-md.pi-webmoney { background: url('../png/md/webmoney.png') no-repeat right; }
.pi.pi-md.pi-westernunion { background: url('../png/md/westernunion.png') no-repeat right; }
.pi.pi-md.pi-wirecard { background: url('../png/md/wirecard.png') no-repeat right; }
.pi.pi-md.pi-worldpay { background: url('../png/md/worldpay.png') no-repeat right; }
.pi.pi-md.pi-yandex { background: url('../png/md/yandex.png') no-repeat right; }
.pi.pi-md.pi-yandexkassa { background: url('../png/md/yandexkassa.png') no-repeat right; }
.pi.pi-md.pi-yandexmoney { background: url('../png/md/yandexmoney.png') no-repeat right; }
.pi.pi-md.pi-yoomoney { background: url('../png/md/yoomoney.png') no-repeat right; }
.pi.pi-md.pi-zcash { background: url('../png/md/zcash.png') no-repeat right; }

.pi.pi-lg.pi-2checkout { background: url('../png/lg/2checkout.png') no-repeat right; }
.pi.pi-lg.pi-2co { background: url('../png/lg/2co.png') no-repeat right; }
.pi.pi-lg.pi-advcash { background: url('../png/lg/advcash.png') no-repeat right; }
.pi.pi-lg.pi-alipay { background: url('../png/lg/alipay.png') no-repeat right; }
.pi.pi-lg.pi-amazon { background: url('../png/lg/amazon.png') no-repeat right; }
.pi.pi-lg.pi-americanexpress { background: url('../png/lg/americanexpress.png') no-repeat right; }
.pi.pi-lg.pi-assist { background: url('../png/lg/assist.png') no-repeat right; }
.pi.pi-lg.pi-authorizenet { background: url('../png/lg/authorizenet.png') no-repeat right; }
.pi.pi-lg.pi-bancontact { background: url('../png/lg/bancontact.png') no-repeat right; }
.pi.pi-lg.pi-bcc { background: url('../png/lg/bcc.png') no-repeat right; }
.pi.pi-lg.pi-bitcoin { background: url('../png/lg/bitcoin.png') no-repeat right; }
.pi.pi-lg.pi-bitcoincash { background: url('../png/lg/bitcoincash.png') no-repeat right; }
.pi.pi-lg.pi-bitpay { background: url('../png/lg/bitpay.png') no-repeat right; }
.pi.pi-lg.pi-boleto { background: url('../png/lg/boleto.png') no-repeat right; }
.pi.pi-lg.pi-braintree { background: url('../png/lg/braintree.png') no-repeat right; }
.pi.pi-lg.pi-cartebleue { background: url('../png/lg/cartebleue.png') no-repeat right; }
.pi.pi-lg.pi-cirrus { background: url('../png/lg/cirrus.png') no-repeat right; }
.pi.pi-lg.pi-citibank { background: url('../png/lg/citibank.png') no-repeat right; }
.pi.pi-lg.pi-clickandbuy { background: url('../png/lg/clickandbuy.png') no-repeat right; }
.pi.pi-lg.pi-coingate { background: url('../png/lg/coingate.png') no-repeat right; }
.pi.pi-lg.pi-dash { background: url('../png/lg/dash.png') no-repeat right; }
.pi.pi-lg.pi-delta { background: url('../png/lg/delta.png') no-repeat right; }
.pi.pi-lg.pi-dineromail { background: url('../png/lg/dineromail.png') no-repeat right; }
.pi.pi-lg.pi-dinersclub { background: url('../png/lg/dinersclub.png') no-repeat right; }
.pi.pi-lg.pi-directdebit { background: url('../png/lg/directdebit.png') no-repeat right; }
.pi.pi-lg.pi-discover { background: url('../png/lg/discover.png') no-repeat right; }
.pi.pi-lg.pi-dotpay { background: url('../png/lg/dotpay.png') no-repeat right; }
.pi.pi-lg.pi-ebay { background: url('../png/lg/ebay.png') no-repeat right; }
.pi.pi-lg.pi-eco { background: url('../png/lg/eco.png') no-repeat right; }
.pi.pi-lg.pi-ecoin { background: url('../png/lg/ecoin.png') no-repeat right; }
.pi.pi-lg.pi-epay { background: url('../png/lg/epay.png') no-repeat right; }
.pi.pi-lg.pi-epayments { background: url('../png/lg/epayments.png') no-repeat right; }
.pi.pi-lg.pi-epayservice { background: url('../png/lg/epayservice.png') no-repeat right; }
.pi.pi-lg.pi-eps { background: url('../png/lg/eps.png') no-repeat right; }
.pi.pi-lg.pi-ethereum { background: url('../png/lg/ethereum.png') no-repeat right; }
.pi.pi-lg.pi-eway { background: url('../png/lg/eway.png') no-repeat right; }
.pi.pi-lg.pi-freekassa { background: url('../png/lg/freekassa.png') no-repeat right; }
.pi.pi-lg.pi-giropay { background: url('../png/lg/giropay.png') no-repeat right; }
.pi.pi-lg.pi-hsbc { background: url('../png/lg/hsbc.png') no-repeat right; }
.pi.pi-lg.pi-ideal { background: url('../png/lg/ideal.png') no-repeat right; }
.pi.pi-lg.pi-ikajo { background: url('../png/lg/ikajo.png') no-repeat right; }
.pi.pi-lg.pi-interkassa { background: url('../png/lg/interkassa.png') no-repeat right; }
.pi.pi-lg.pi-jcb { background: url('../png/lg/jcb.png') no-repeat right; }
.pi.pi-lg.pi-liqpay { background: url('../png/lg/liqpay.png') no-repeat right; }
.pi.pi-lg.pi-litecoin { background: url('../png/lg/litecoin.png') no-repeat right; }
.pi.pi-lg.pi-maestro { background: url('../png/lg/maestro.png') no-repeat right; }
.pi.pi-lg.pi-maestro2 { background: url('../png/lg/maestro2.png') no-repeat right; }
.pi.pi-lg.pi-mastercard { background: url('../png/lg/mastercard.png') no-repeat right; }
.pi.pi-lg.pi-mir { background: url('../png/lg/mir.png') no-repeat right; }
.pi.pi-lg.pi-monero { background: url('../png/lg/monero.png') no-repeat right; }
.pi.pi-lg.pi-okpay { background: url('../png/lg/okpay.png') no-repeat right; }
.pi.pi-lg.pi-paxum { background: url('../png/lg/paxum.png') no-repeat right; }
.pi.pi-lg.pi-payoneer { background: url('../png/lg/payoneer.png') no-repeat right; }
.pi.pi-lg.pi-paypal { background: url('../png/lg/paypal.png') no-repeat right; }
.pi.pi-lg.pi-paypoint { background: url('../png/lg/paypoint.png') no-repeat right; }
.pi.pi-lg.pi-paysera { background: url('../png/lg/paysera.png') no-repeat right; }
.pi.pi-lg.pi-payu { background: url('../png/lg/payu.png') no-repeat right; }
.pi.pi-lg.pi-payza { background: url('../png/lg/payza.png') no-repeat right; }
.pi.pi-lg.pi-picknpay { background: url('../png/lg/picknpay.png') no-repeat right; }
.pi.pi-lg.pi-postepay { background: url('../png/lg/postepay.png') no-repeat right; }
.pi.pi-lg.pi-przelewy24 { background: url('../png/lg/przelewy24.png') no-repeat right; }
.pi.pi-lg.pi-qiwi { background: url('../png/lg/qiwi.png') no-repeat right; }
.pi.pi-lg.pi-robokassa { background: url('../png/lg/robokassa.png') no-repeat right; }
.pi.pi-lg.pi-sage { background: url('../png/lg/sage.png') no-repeat right; }
.pi.pi-lg.pi-skrill { background: url('../png/lg/skrill.png') no-repeat right; }
.pi.pi-lg.pi-stripe { background: url('../png/lg/stripe.png') no-repeat right; }
.pi.pi-lg.pi-switch1 { background: url('../png/lg/switch1.png') no-repeat right; }
.pi.pi-lg.pi-switch2 { background: url('../png/lg/switch2.png') no-repeat right; }
.pi.pi-lg.pi-todocash { background: url('../png/lg/todocash.png') no-repeat right; }
.pi.pi-lg.pi-twoco { background: url('../png/lg/twoco.png') no-repeat right; }
.pi.pi-lg.pi-ukash { background: url('../png/lg/ukash.png') no-repeat right; }
.pi.pi-lg.pi-unionpay { background: url('../png/lg/unionpay.png') no-repeat right; }
.pi.pi-lg.pi-verifiedbyvisa { background: url('../png/lg/verifiedbyvisa.png') no-repeat right; }
.pi.pi-lg.pi-visa { background: url('../png/lg/visa.png') no-repeat right; }
.pi.pi-lg.pi-visaelectron { background: url('../png/lg/visaelectron.png') no-repeat right; }
.pi.pi-lg.pi-webmoney { background: url('../png/lg/webmoney.png') no-repeat right; }
.pi.pi-lg.pi-westernunion { background: url('../png/lg/westernunion.png') no-repeat right; }
.pi.pi-lg.pi-wirecard { background: url('../png/lg/wirecard.png') no-repeat right; }
.pi.pi-lg.pi-worldpay { background: url('../png/lg/worldpay.png') no-repeat right; }
.pi.pi-lg.pi-yandex { background: url('../png/lg/yandex.png') no-repeat right; }
.pi.pi-lg.pi-yandexkassa { background: url('../png/lg/yandexkassa.png') no-repeat right; }
.pi.pi-lg.pi-yandexmoney { background: url('../png/lg/yandexmoney.png') no-repeat right; }
.pi.pi-lg.pi-yoomoney { background: url('../png/lg/yoomoney.png') no-repeat right; }
.pi.pi-lg.pi-zcash { background: url('../png/lg/zcash.png') no-repeat right; }

